---
import type { Page } from "../../types/page";

interface Props {
  pages: Page[];
}

const { pathname } = Astro.url;

const { pages } = Astro.props;
---

<div>
  <ul class="inline-flex gap-4 text-xl font-oswald uppercase">
    {
      pages.map(({ href, label }) => (
        <li>
          <a
            href={href}
            class={
              "p-2 rounded-md text-slate-700 bg-transparent hover:text-slate-200 hover:bg-slate-700" +
              (pathname === href ? " !bg-slate-700 !text-slate-200" : "")
            }
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
