---
import { format } from "date-fns";

const year = format(new Date(), "yyyy");
---

<div class="md:py-8 md:px-16 py-6 px-8 text-slate-800">
  <script>
    const el = document.getElementById("back-to-top");

    el?.addEventListener("click", (_) => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>

  <div class="flex flex-row lg:justify-end justify-center items-center">
    <a class="text-sm font-oswald uppercase" href="#" id="back-to-top">
      <span>Back to Top</span>
      <i class="fa-solid fa-chevron-up text-xs pl-2"></i>
    </a>
  </div>
</div>
