---
import type { Network } from "../../types/network";

interface Props {
  networks: Network[];
}

const { networks } = Astro.props;
---

<div class="h-min">
  <ul class="inline-flex flex-row gap-1">
    {
      networks.map(({ href, icon, label }) => (
        <li class="inline-block">
          <a
            href={href}
            class="flex items-center justify-center box-border text-slate-700 bg-transparent hover:text-slate-200 hover:bg-slate-700 aspect-square lg:text-3xl md:text-2xl text-lg p-2.5 rounded-full"
          >
            <i class={icon}>
              <span class="sr-only">{label}</span>
            </i>
          </a>
        </li>
      ))
    }
  </ul>
</div>
