---

---

<div class="bg-slate-900 h-min w-min py-1 px-2 rounded-md">
  <a href="/">
    <span
      class="box-border font-oswald font-normal tracking-tight text-slate-200 lg:text-7xl md:text-6xl text-5xl"
      >NOACTIONJAXN</span
    >
  </a>
</div>
