---

---

<div class="flex flex-row justify-between items-center px-8 h-12">
  <div>
    <span class="text-sm">Jackson Hermitt</span>
  </div>

  <div>
    <ul class="inline-flex flex-row gap-2">
      <li>
        <a href="linkedin.com">
          <i class="fa-brands fa-linkedin">
            <span class="sr-only">LinkedIn</span>
          </i>
        </a>
      </li>
      <li>
        <a href="github.com">
          <i class="fa-brands fa-github">
            <span class="sr-only">Github</span>
          </i>
        </a>
      </li>
      <li>
        <a href="youtube.com">
          <i class="fa-brands fa-square-youtube">
            <span class="sr-only">Youtube</span>
          </i>
        </a>
      </li>
    </ul>
  </div>
</div>
