---

---

<div class="flex flex-row justify-between items-center h-16 px-8">
  <div>
    <a href=".">NOACTIONJAXN</a>
  </div>
  <div>
    <ul class="inline-flex gap-2">
      <li>
        <a href="./posts">Posts</a>
      </li>
      <li>
        <a href="./about">About</a>
      </li>
      <li>
        <a href="./contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
