---
import { format } from "date-fns";

const year = format(new Date(), "yyyy");

function scrollToTop() {
  window.scrollTo(0, 0);
}
---

<div class="flex flex-row justify-between items-center py-8 h-12">
  <div>
    <span class="text-sm font-oswald uppercase">NoActionJaxn {year}</span>
  </div>

  <div>
    <a class="text-sm font-oswald uppercase" href="#" onclick="scrollToTop()">Back to Top</a>
  </div>
</div>
